{%extends 'base/sidebar_1.html'%}
{%load static%}
{%block content %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{%static 'teacher/teachermain2.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css"/>
    
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.5.1/css/keyTable.dataTables.min.css"/>

    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

<body>
<div class="container">
    <div class="toptop">
    <div class="detail1" onclick="location.href='../' ">
    개인별
    </div>
    <div class="detail2">
    강사료
    </div>
        </div>
    <h2>강사료</h2>

    
    <table id="example" class="display" cellspacing="0" width="100%">
    <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
        <col span="1" style="width: 10%;">
    </colgroup>
    <thead>
        <tr>
            <th>월</th>
            <th>강사</th>
            <th>강사료</th>
            <th>상태</th>
        </tr>
        <tr>
            <th class="filterhead">월</th>
            <th class="filterhead">강사</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>월</th>
            <th>강사</th>
            <th>강사료</th>
            <th>상태</th>
        </tr>
    </tfoot>
    <tbody>
      {%for i in teapay_monthly%}

       <tr>
           <td>{{i.tp_year|default_if_none:""}}년 {{i.tp_month|default_if_none:""}}월</td>
           <td>{{i.tp_teakey.tea_name|default_if_none:""}}</td>
           <td>{{i.tp_monthly_pay|default_if_none:""}}원</td>
           <td><a class="button2" href="{{i.tp_teakey.tea_id}}/{{i.tp_year}}/{{i.tp_month}}/">수정중</a></td>

        </tr>
        {%endfor%}
        
    </tbody>
</table>
</div>

    
    <div id="myModal" class="modal">
  <!-- Modal content -->
 <div class="modal-content">
    <span class="close">&times;</span>
   <div class="testbox">
      <form action="/">
        <div class="banner">
          <h1>강사 추가</h1>
        </div>
<div class="center">
        <div class="item">
        이름:
          <input type="text" name="name"/ placeholder="ex)권서현">
        </div>
              <br>
          <div class="item">
        담당분야: 
           <input type="text" name="name"/ placeholder="ex)요리">
        </div>
              <br>
              <div class="item">
        이메일: 
           <input type="text" name="name"/ placeholder="ex)seohyun@naver.com">
        </div>
    <br>
          <div class="item">
         주소: 
          <input type="text" name="name"/ placeholder="ex)인천 부평 서현로">
    </div>
              <div class="item">
        은행: 
          <input type="text" name="name"/ placeholder="ex)농협">
        </div>
    <div class="item">
        계좌번호: 
          <input type="text" name="name"/ placeholder="ex)351-***-******">
        </div>
    </div>
<div class="submit2">
          <button type="submit" id="Btn" href="/">추가</button>
    </div>
      </form>
    </div>
  </div>
</div>
 

<script type="text/javascript" src= "https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src= "https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
    
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="https://cdn.datatables.net/keytable/2.5.1/js/dataTables.keyTable.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/searchpanes/1.0.1/js/dataTables.searchPanes.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="datatables.min.js"></script>
<script>



    $(document).ready(function() {
    $('#example').DataTable( {
         "scrollY":   "600px",
        "scrollCollapse": true,
        "paging":         false,
        "initComplete": function () {
          var api = this.api();
            $('.filterhead', api.table().header()).each( function (i) {
              var column = api.column(i);
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(this).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' );
                } );
            } );
        }
    } );
} );
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var btnn = document.getElementById("Btn");

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

btnn.onclick = function() {
  modal.style.display = "none";
}


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}  ;
 


</script>

</body>
</html>
{%endblock%}