
.classtable2 {
    width: 100%;
    top: 0;
    left: 0;
    font-size:14px;
    float: right;
    display: inline-block;
}

.classtable .table td, .table th .table tr{
    padding:0;
}

div.dataTables_length select{
    width:auto;
    display:inline-block;
}

div.dataTables_length{
    width:auto;
    float: left;
}
div.dataTables_info{
    width:auto;
    float: left;
}

.table th{
  color: #fff;
  line-height: 1;
  background-color: #273449;
  margin:0;
}


.ta {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    display: inline-block;
    width: 200px;
}


.ta td{
  font-size: 15px;
  color: #313131;
}

.ta {
border-radius: 0px;
background: #f0f0f0;
  
}

.ta th, td{
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
}

.ta th{
  color: #333;
  margin:0;
}


.ta2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5px;
    display: inline-block;
    width: 500px;
}


.ta2 td{
  font-size: 15px;
  color: #313131;
}

.ta2 {
border-radius: 0px;
background: #f0f0f0;
}

.ta2 th, td{
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
}

.ta2 th{
  color: #333;
  margin:0;
}

.update {
    margin-top: 50px;
}



.table td{
  font-size: 15px;
  color: #313131;
  line-height: 1.5;
}


.table th{
    text-align: center;
    line-height: 2;
}


.table th, td{
    text-align: center;
    vertical-align: middle;
}

.classtable-body {
    display: table;
}

.classtable2-body {
    display: table;
}



.new-control-input {
    display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;

}

.new-control-input:checked {
    background-color: #273449;
}

.container h1 {
    font-size: 30px;color: #273449;
    margin-top: 30px;
    margin-left: 10px;
}

.button2 {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #ff0000;
padding: 1px 5px;
border-radius: 50px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.button2:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}


.photo {
    padding-top: 10px;
}

.chosen-select {
  width: 100%;
    height: auto;
}

.select,
.chosen-select, {
  width: 100%;
     height: auto;
}

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


.chosen-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  z-index: 1010;
  width: 100%;
  border-top: 0;
  background: #fff;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100% 100%);
          clip-path: inset(100% 100%);
}

.chosen-container.chosen-with-drop .chosen-drop {
  clip: auto;
  -webkit-clip-path: none;
          clip-path: none;
}

.chosen-container a {
  cursor: text;
}

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}

.chosen-container-single .chosen-default {
  color: #5f5f5f;
}

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("chosen-sprite.png") no-repeat 0px 2px;
}

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: url("chosen-sprite.png") no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100% 100%);
          clip-path: inset(100% 100%);
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}

.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}

.checkout {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


.middle {
    width: 1200px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.btnparty {
    float: right;
    position: relative;
}

.button_cont {
    color: black;
    width: 300px;
    float: right;
}

.button_cont input[type="number"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 70%;
  height: auto;
  border-radius: 0;
    background-color: #273449;
    color: white;
    text-align: center;
}


.all {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.head {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.circle-chart {
      width: 70px;
      position: relative;
      display: inline-block;
    margin-top: 30px;
    }
.circle-chart__text {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      left: 0;
      top: 0;
      line-height: 3.9;
    }
.basket {
    display: inline-block;
    width: 70px;
}

.ta {
    display: inline-block;
}

.head h5 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}



.button_cont3 {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: #bebebe;
    float: right;
}

.button5 {
    color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #273449;
padding: 5px;
width: 100px;
border-radius: 10px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
    font-size: 15px;
}

.tdbody {
    overflow: scroll;
}

.table {
    text-align: center;
}

.button2 {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #ff0000;
padding: 1px 5px;
border-radius: 50px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.button2:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.dataTables_length {
    margin-bottom: 10px;
}

select {
    border-radius: 5px;
        padding: 3px 5px;
}


table.ta3 {
    width: 300px;
    overflow: hidden;
    margin-left: 5px;
    margin-top: 20px;
}

table.ta3 td{
  font-size: 15px;
  color: #313131;
}


table.ta3 th, td{
    text-align: center;
    vertical-align: middle;
}

table.ta3 th{
  color: #333;
  margin:0;
}

input[type=file] {
    width: 150px;
}


ul.listsb li.active {
     background: #273449;
 color: #fff !important;
}

ul.listsb li.active8 {
  background: linear-gradient(45deg, rgba(20,195,154,1) 0%, rgba(47,159,196,1) 51%, rgba(69,131,230,1) 100%) !important;
    color: #000 !important;
}