<!DOCTYPE html>
<html>
<head>
	<title>수정</title>
    <link rel=stylesheet type="text/css" href="teacheroutdetailpop.css">


</head>

<body>

    <div class="main">
        <button class="button2" type="button" 
        onclick="window.open('', '_self', ''); window.close();" id="2">X</button>
    <h2>반출하시겠습니까?</h2>
        <p>수업에 재료가 부족할 경우 퀵비 등의 부담은<br>
        온드림에듀와 무관함을 알려드립니다.</p>
<div class="btnparty">

          <button class="button3" onclick="closeWin()" type="submit">반출</button>
        <button class="button5">취소</button>
    </div>
    </div>
<script>
var myWindow;

function closeWin() {
  myWindow.close();
}
    </script>


        
</body>
</html>