<!DOCTYPE html>
<html>
<head>
	<title>수정</title>
    <link rel=stylesheet type="text/css" href="teacherindetailpop.css">


</head>

<body>

    <div class="main">
        <button class="button2" type="button" 
        onclick="window.open('', '_self', ''); window.close();" id="2">X</button>
    <h2>반입하시겠습니까?</h2>
        <p>항상 열정으로 온드림에듀를 빛내주셔서<br>
        감사합니다. 좋은 하루 되세요 :)</p>
<div class="btnparty">

          <button class="button3" onclick="closeWin()" type="submit">반입</button>
        <button class="button5">취소</button>
    </div>
    </div>
<script>
var myWindow;

function closeWin() {
  myWindow.close();
}
    </script>


        
</body>
</html>