<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>LOGIN</title>  

    <link rel="stylesheet" href="{%static 'notfound.css'%}">

</head>
<body>
<div class="loginrectangle">

<div class="ondreamedu">
    <h1>잘못된 접근입니다.</h1>
    <h2>관리자에게 문의하세요.</h2>

    <div class="loginbtn">
    <a href="/" class="loginbtndesign">홈으로</a>
    </div>

    </div>
    </div>
</body>
</html>