{%load static%}
<!DOCTYPE html>
<html>
<head>
  <title>수업 수정</title>
    <link rel=stylesheet type="text/css" href="{%static 'styleaddwindow.css'%}">
    <style>
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}


.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
    position: relative;

}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgba(20,195,154,1) !important;
  color: #ffffff;
}</style>

</head>

<body >
    <div class="main">
    <div class="top">
        <button class="button2" type="button" 
        onclick="window.open('', '_self', ''); window.close();" id="2">X</button>
    <h2>수업 수정</h2>
        </div>
  <form autocomplete="off" class="addclass" id="my-form"  method="POST" action="." onsubmit="closeWindow()"  >{%csrf_token%}
        <div class="beforeaddclass">
        <div class=first>
        <div class="date">
            <label for='id_class_date'>날짜</label>
        <input name='class_date' type="date" value="{{obj.class_date|date:"Y-m-d"}}" class="dateadd" placeholder="날짜를 선택하세요" id='id_class_date'>
            </div>
      <br>
            <div class="searchlist">
          <div class="autocomplete">
            <label for='id_class_sch'>학교</label>
            <input type="text" name='class_sch' value="{{obj.class_sch|default_if_none:""}}" data-placeholder="ex) 마전중학교" class="chooseinput" tabindex="2" id='myInput_sch'>
          </div>
        </div>
       <br>
          <div class="searchlist">
          <div class="autocomplete">
            <label for='id_class_cate'>구분</label>
            
            <input name='class_cate' data-placeholder="ex) 위클래스" value="{{obj.class_cate|default_if_none:""}}" class="chooseinput" tabindex="2" id='myInput_cate'>
        
          </div>
        </div>
      <br>
      <div class="searchlist">
          <div class="autocomplete">
            <label for='id_class_minicate'>반</label>
            
            <input name='class_minicate' data-placeholder="ex) 파티쉐반" value="{{obj.class_minicate|default_if_none:""}}" class="chooseinput" tabindex="2" id='myInput_minicate'>

        
          </div>
        </div>
      <br>

          <div class="searchlist">
          <div class="autocomplete">
            <label for='id_class_stat'>수업</label>
            <input name='class_stat' data-placeholder="ex) 케이크 만들기" value="{{obj.class_stat|default_if_none:""}}" class="chooseinput" tabindex="2" id='myInput_stat'>
              
          </div>
        </div>
      <br>
          <div class="searchlist">
          <div class="autocomplete">
            <label for='id_class_tea'>강사</label>
            <input name='class_tea' data-placeholder="ex)권서현:)" value="{{obj.class_tea|default_if_none:""}}" class="chooseinput" tabindex="2" id='myInput_tea'>
          </div>
        </div>
      </div>
      <br>
        <div class=second>
      <div class="number">
        <label for='id_class_count'>회차</label>
        <input name='class_count' type="number" class="numberinput" value="{{obj.class_count|default_if_none:""}}" placeholder="ex) 1회차" id='id_class_count'>
            </div>
    <br>
            <div class="number">
        <label for='id_class_stunum'>시간</label>
        <input name='class_time' type="text" class="timeinput" value="{{obj.class_time|default_if_none:""}}" placeholder="ex) 1-2교시" id='id_class_stunum'>
            </div>
    <br>
            <div class="time">
      <label for='id_class_time'>인원장소</label>
        <input name='class_stunum' type="text" class="numberinput" value="{{obj.class_stunum|default_if_none:""}}" placeholder="ex) 2반 10명" id='id_class_time'>
            </div>
        <br>
        <div class="place">
      <div class="memolabel"><label for='id_memo'>메모</label></div>

        <textarea name='memo' row="15" cols="47" type="text"  class="memoinput" placeholder="ex) 장소 문자로" id='id_memo'>{{obj.memo|default_if_none:""}}</textarea>
            </div>
        <br>
        </div>
        </div>
        
        <div class="submit">
          <button type="submit" id="submit-button" class="button3" onclick="closeWindow(); return False;">수정</button>
        </div>



  </form>
  </div>
  <script>function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}



/*An array containing all the country names in the world:*/
var School = [];
var Teacher = [];
var Classstat = [];
var Minicate = [];
var Category=['자유학기', '동아리'];
{%for i in sch_obj%}
School.push('{{i.sch_name}}')
{%endfor%}
{%for i in tea_obj%}
Teacher.push('{{i.tea_name}}')
{%endfor%}
{%for i in classstat_obj%}
Classstat.push('{{i.class_title}}')
{%endfor%}

/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput_sch"), School);
autocomplete(document.getElementById("myInput_tea"), Teacher);
autocomplete(document.getElementById("myInput_stat"), Classstat);
autocomplete(document.getElementById("myInput_minicate"), Minicate);
autocomplete(document.getElementById("myInput_cate"), Category);

</script>
<script>
 window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
</script>
<script>
  function closeWindow(){
setTimeout("window.close()",500)
};
</script>



        
        
</body>
</html>
