{%extends 'base/sidebar_1.html'%}
<html><head></head><body>{%load static%}
{%block content%}


  <title>수업 진행상황</title>
  <link rel="stylesheet" type="text/css" href="{%static 'prgwin_bfdate.css'%}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <div class="container">
        <div class="align">
    <h1><a href="../">뒤로가기</a></h1>
            <div class="button_cont2" align="center"><a class="button1" href="update/" onclick="window.open('update/', '수업추가', 'width=1000', 'height=700'); return false;">정보수정</a></div>
    </div>
    <div class="rowdata">  
        <table class="table1">
        <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 13%;">
       <col span="1" style="width: 25%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 40%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 15%;">

            </colgroup>
        <tbody><tr>
          <th>코드</th>
          <th>날짜</th>
          <th>학교</th>
          <th>구분</th>
          <th>반</th>
          <th>수업</th>
          <th>강사</th>
          <th>인원 & 장소</th>
          <th>시간</th>

        </tr>
        <tr>
          <td>{{class_obj.class_id}}</td>
              <td>{{class_obj.class_date|date:"m-d"}}</td>
              <td>{{sch_obj.sch_name}}</td>
              <td>{{class_obj.class_cate}}</td>
              <td>{{classstat_obj.class_minicate}}</td>
              <td>{{classstat_obj.class_title}}</td>
              <td>{{class_obj.class_teakey.tea_name}}</td>
              <td>{{class_obj.class_stunum}}</td>
              <td>{{class_obj.class_time}}</td>
        </tr>
          </tbody></table>
    </div>


    <div class="progresstable">
        <form class="addclass" method="POST" action=".">{% csrf_token %}
    <div class="align">
    <h3>진행상황</h3>
        
                  <div class="button_cont" align="center" >마지막 수정. {{class_obj.timestamp_progress|date:"Y-m-d P"}} {{class_obj.user_progress}}<input type="submit" name="save_progress" value="저장" class="button2"></div>
        </div>
    <table class="table2">
        <tbody><tr>
          <th>진행</th>
          <th>내용</th>
          <th>기한</th>

        </tr>
        <tr>
          <td>수업문의</td>
              <td>  <input id="4" name="class_cont_call" type="checkbox" class="new-control-input" {%if class_obj.class_cont_call %} checked="checked" {%endif%} value="1">전화 
                    <input id="4" name="class_cont_message" type="checkbox" class="new-control-input" {%if class_obj.class_cont_message %} checked="checked" {%endif%} value="1">문자 
                    <input id="4" name="class_cont_email" type="checkbox" class="new-control-input" {%if class_obj.class_cont_email %} checked="checked" {%endif%} value="1">메일
                    <br>
                    <input id="4" name="class_confirm" type="radio" class="new-control-input" {%if class_obj.class_confirm == "확정" %} checked="checked" {%endif%} value="확정">확정
                    <input id="4" name="class_confirm" type="radio" class="new-control-input" {%if class_obj.class_confirm == "미확정" %} checked="checked" {%endif%} value="미확정">미확정
    


                  </td>
              <td id="dt1">asd</td>
        </tr>
                <tr>
          <td>서류제출</td> 
              <td><input id="4" name="class_doc_plan" type="checkbox" class="new-control-input" {%if class_obj.class_doc_plan %} checked="checked" {%endif%} value="7.142857142857143">수업계획서
                    <br><input id="5" name="class_doc_preestim" type="checkbox" class="new-control-input" {%if class_obj.class_doc_preestim %}checked="checked" {%endif%} value="7.142857142857143">견적서
                    <input id="16" name="class_doc_preestim_meth" type="radio" {%if class_obj.class_doc_preestim_meth == "강사료포함" %} checked="checked" {%endif%} class="new-control-input" value="강사료포함">강사료포함 
                    <input id="17" name="class_doc_preestim_meth" type="radio" {%if class_obj.class_doc_preestim_meth == "강사료직접입금" %} checked="checked" {%endif%} class="new-control-input" value="강사료직접입금">강사료직접입금
                    <br><input id="6" name="class_doc_tea" type="checkbox" class="new-control-input" {%if class_obj.class_doc_tea %} checked="checked" {%endif%} value="7.142857142857143">강사서류
                    </td>
              <td>8/8
                    <br>8/9
                    <br>8/10
                    </td>
        </tr>  
                 <tr>
          <td>재료주문</td>
              <td>{%for i in mat_obj%}
                        <input id="10" value="7.142857142857143" name="mat_order_done{{forloop.counter}}" type="checkbox" class="new-control-input" {%if i.mat_order_done %} checked="checked" {%endif%}>{{i.mat_dyna}}    <input name="dyna_mat_num{{forloop.counter}}" value="{{i.dyna_mat_num|default_if_none:""}}" type="text"><br>
                    {%endfor%}</td>
              <td>
                    <br>8/8
                    <br>8/10
                     </td>
        </tr> 
                <tr>
          <td>도착확인</td>
          <td>{%for i in mat_obj%}

              
              <input id="10" value="7.142857142857143" name="mat_deliver_done{{forloop.counter}}" type="checkbox" class="new-control-input" {%if i.mat_deliver_done %} checked="checked" {%endif%}><label for="id_mat_deliver_done{{forloop.counter}}">{{i.mat_dyna}}</label><br>
              
          {%endfor%}</td>
              <td>8/9
                    <br>8/10
                     </td>
        </tr> 
                <tr>
          <td>수업준비</td>
              <td><input name="class_mani" id="12" type="checkbox" class="new-control-input" {%if class_obj.class_mani %} checked="checked" {%endif%} value="7.142857142857143">작업
              <br><input name="class_div" id="12" type="checkbox" class="new-control-input" {%if class_obj.class_div %} checked="checked" {%endif%} value="7.142857142857143">소분</td>
                    <td>8/20
                    <br>8/20</td>
        </tr> 
                <tr>
          <td><label for="id_class_taken"> 강사수거</label></td>
              <td><input id="id_class_taken" name="class_taken" type="checkbox" class="new-control-input" {%if class_obj.class_taken %} checked="checked" {%endif%} value="5">완료</td>
                    <td>8/20</td>
        </tr> 
                <tr>
          <td>도구반납</td>
              <td><input id="14" name="class_re_done" type="checkbox" class="new-control-input" {%if class_obj.class_re_done %} checked="checked" {%endif%} value="7.142857142857143">완료</td>
                    <td>8/20</td>
        </tr> 
                <tr>
          <td>정산</td>
              <td><input id="15" name="class_doc_finestim" type="checkbox" class="new-control-input" {%if class_obj.class_doc_finestim %} checked="checked" {%endif%} value="7.142857142857143">견적서
                    <br>
                    <input id="16" name="class_cal_meth" type="radio" {%if class_obj.class_cal_meth == "계산서" %} checked="checked" {%endif%} class="new-control-input" value="계산서">계산서 
                    <input id="17" name="class_cal_meth" type="radio" {%if class_obj.class_cal_meth == "현금영수증" %} checked="checked" {%endif%} class="new-control-input" value="현금영수증">현금영수증
                    <input id="18" name="class_cal_meth" type="radio" {%if class_obj.class_cal_meth == "카드결제" %} checked="checked" {%endif%} class="new-control-input" value="카드결제">카드결제 
                    <input id="19" name="class_cal_meth" type="radio" {%if class_obj.class_cal_meth == "현금" %} checked="checked" {%endif%} class="new-control-input" value="현금">현금
                    <br><input id="20" name="class_deposit_check" type="checkbox" class="new-control-input" {%if class_obj.class_deposit_check %} checked="checked" {%endif%} value="7.142857142857143">입금확인
                    </td>
                    <td>{{class_obj.date_increase|date:"m-d"}}
                    <br>8/22
                    <br>8/24
                    </td>
        </tr> 
          </tbody></table>    
        </div>



    <div class="schinfo">
        <div class="button_cont2" align="center"><a class="button3">학교정보</a></div>
              <table class="table3">
            <tbody><tr>
          <th>담당자</th>
                    <td>{{schtea_obj.schtea_name}}</td>
               </tr>
                <tr>
          <th>전화번호</th>
                    <td>{{schtea_obj.schtea_tel1}}</td>
               </tr>
               <tr>
          <th>이메일</th>
                    <td>{{schtea_obj.schtea_email}}</td>
               </tr>
                <tr>
          <th>학교코드</th>
                    <td>{{sch_obj.sch_code}}</td>
               </tr>
               <tr>
          <th>학교전화번호</th>
                    <td>{{sch_obj.sch_tel}}</td>
               </tr>
               <tr>
          <th>학교이메일</th>
          <td>{{sch_obj.sch_email}}</td>
               </tr>

          </tbody>
            </table>
    </div>

      
    <div class="memo">
    <div class="button_cont2" align="center"><a class="button4">메모</a></div>
    <div class="text-area">
        <textarea id="id_memo" name="memo" class="noresize" rows="13" cols="55">{{class_obj.memo}}</textarea>
        
        <div class="button_cont3" align="center" >마지막 수정. {{class_obj.timestamp_memo|date:"Y-m-d P"}} {{class_obj.user_memo}}<input type="submit" name="save_memo" class="button5" value="저장"></div>
    </div>
        </div>
</form>

    
<script>
$('.progresstable').each(function(index, el) {
  var chkLength = $(this).find('input[type="checkbox"]').length;
  var max = 100;
  var div = max / chkLength;
  $('.scrumboard .progresstable .task-quantity').text('0/' + chkLength);
  $(this).find('input[type="checkbox"]').attr('value', div);
});

$('.progresstable .new-control-input').on('change', function(event) {
  var $checkbox = $(this);

  $checkbox.closest('.progresstable').find(".progress .progress-bar").css("width", function() {
    var width = $(this).data('width') || 0;
    if ($checkbox.is(':checked')) {
      width += parseInt($checkbox.val());
    } else {
      width -= parseInt($checkbox.val());
    }
    $(this).data('width', width);
    return width + "%";
  });
});
    
   var dt1 = new Date({{class_obj.class_date|date:"m-d"}});
   dt1.setDate( dt1.getDate() - 10 );
   document.write( dt1.toDateString() );
</script>



</div>
{%endblock%}
</body></html>