{%load static%}

<!DOCTYPE html>
<html>
<head>
	<title>수정</title>
    <link rel=stylesheet type="text/css" href="{%static 'school/schdelete.css'%}">


</head>

<body>

    <div class="main">
        <button class="button2" type="button" 
        onclick="window.open('', '_self', ''); window.close();" id="2">X</button>
    <h2>삭제하시겠습니까?</h2>
        <p>삭제되는 내용: {{schtea_obj.schtea_name}}</p>
<div class="btnparty">
<form method="POST">{%csrf_token%}
          <button type="submit" class="buttondelete" >삭제</button>
        <button class="button3" onclick="window.open('', '_self', ''); window.close();">취소</button>
    </form>
    </div>
    </div>
<script>
var myWindow;

function closeWin() {
  myWindow.close();
}
    </script>


        
</body>
<script>
 window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
</script>
</html>