{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>추가</title>
    <link rel=stylesheet type="text/css" href="{%static 'school/schoolteacheradd.css'%}">


</head>

<body>

    <div class="main">
        <button class="button2" type="button" 
        onclick="window.open('', '_self', ''); window.close();" id="2">X</button>
    <h2>학교선생 추가</h2>
	<form class="addclass"  method="POST">{%csrf_token%}
	  	
        <br>
            <div class="schname">
            <label>이름</label>
		  	<input type="text" name="schtea_name" class="schnameadd" placeholder="ex)권서현">{% if messages %}
{% for message in messages %}
<div class="alert">
        <p>{{ message.message }}</p>
</div>
{% endfor %}
{% endif %}
            </div>
  	   <br>
        <div class="schname">
            <label>직급</label>
		  	<input type="text" name="schtea_pos" class="schnameadd" placeholder="ex)2학년 부장">
            </div>
  		<br>
         <div class="schname">
            <label>이메일</label>
		  	<input type="text" name="schtea_email" class="schnameadd" placeholder="ex)jses@korea.kr">
            </div>
        <br>
           <div class="schname">
            <label>전화번호</label>
		  	<input type="number" name="schtea_tel1" class="schnameadd" placeholder="ex)010-8132-7954">
            </div>
        <br>
  		    <div class="schname">
            <label>전화번호2</label>
		  	<input type="number" name="schtea_tel2" class="schnameadd" placeholder="ex)032-7872-3333">
            </div>


          <button type="submit" class="button3">추가</button>

         </form>
    </div>

</body>
<script>
 window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
</script>
</html>