{%extends 'base/sidebar_1.html'%}
{%load static%}
{%block content%}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale=1">
	<title>학교</title>
           <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css"/>
    
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.5.1/css/keyTable.dataTables.min.css"/>

    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
     <link rel="stylesheet" type="text/css" href="classd.css">
    
        
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/1.0.1/css/searchPanes.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="datatables.min.css">
    <link rel="stylesheet" href="{%static 'school/schooldetail.css'%}">
</head>
<body>
    <div class="all">
        <div class="toptop">
    <div class="detail1">
    학교관리
    </div>
    <div class="detail2" onclick="location.href='schtea/'">
    선생관리
    </div>
        </div>
        <div class="head">
            <h5>{{obj.sch_name|default_if_none:""}}</h5>
    </div>
        <div class="middle">
        <table class="ta">
            <tr>
            <th>총 수업 갯수:</th>
            <th>{{class_count|default_if_none:""}}개</th>
            </tr>
            <tr>
            <td><strong>이번 달 수업 갯수:</strong></td>
            <td><strong>{{class_thismonth_count|default_if_none:""}}개</strong></td>
            </tr>
        </table>
            <table class="ta2">
            <tr>
            <th>고유번호:</th>
            <th>{{obj.sch_code|default_if_none:""}}</th>
            <th>전화번호:</th>
            <th>{{obj.sch_tel|default_if_none:""}}</th>
            </tr>
            <tr>
            <td><strong>이메일:</strong></td>
            <td><strong>{{obj.sch_email|default_if_none:""}}</strong></td>
            <td><strong>주소:</strong></td>
            <td><strong>{{obj.sch_address|default_if_none:""}}</strong></td>
            </tr>
        </table>
            <div class="button_conti" align="center" ><button type="submit" class="buttoni" href="#" id="myBtn2">수정</button></div>
        </div>
 <table id="example" class="display" cellspacing="0" width="100%">
    <colgroup>
        <col span="1" width="2%">
        <col span="1" width="10%">
        <col span="1" width="10%">
        <col span="1" width="15%">
        <col span="1" width="13%">
        <col span="1" width="22%">
        <col span="1" width="10%">
        <col span="1" width="10%">
        <col span="1" width="10%">
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th>진행상황</th>
            <th>날짜</th>
            <th>반</th>
            <th>수업</th>
            <th>강사</th>
            <th>인원</th>
            <th>시간</th>
            <th class="none">장소</th>
            <th class="none">확정여부</th>
            <th class="none">단가</th>
            <th class="none">강사료</th>
            <th class="none">메모</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>진행상황</th>
            <th>날짜</th>
            <th>반</th>
            <th>수업</th>
            <th>강사</th>
            <th>인원</th>
            <th>시간</th>
            <th>장소</th>
            <th>확정여부</th>
            <th>단가</th>
            <th>강사료</th>
            <th>메모</th>
        </tr>
    </tfoot>
    <tbody>
      {% for i in class_list %}
            <tr>

              <td></td>
              <td><a href="/class/{{i.class_id}}/" >{{i.class_process}}</a></td>
              <td>{{i.class_date|date:"Y-m-d"}}</td>
              <td>{{i.class_minicate|default_if_none:""}}</td>
              <td>{{i.class_stat|default_if_none:""}}</td>
              <td>{{i.class_tea|default_if_none:""}}</td>
              <td>{{i.class_stunum|default_if_none:""}}</td>
              <td>{{i.class_time|default_if_none:""}}</td>
              <td>{{i.class_place|default_if_none:""}}</td>
              <td>{{i.class_confirm|default_if_none:""}}</td>
              <td>{{i.class_process}}</td>
              <td></td>
              <td>{{i.memo}}</td>
            </tr>
            {%endfor%}
       
        
    </tbody>
</table>

            </div>
    
 <div id="myModal2" class="modal">
  <!-- Modal content -->
 <div class="modal-content2">
    <span class="close">&times;</span>
   <div class="testbox">
      <form method="POST" action=".">{%csrf_token%}
        <div class="banner">
          <h1>학교 수정</h1>
        </div>
<div class="centery">
        <div class="item">
        이름
          <input type="text" value="{{obj.sch_name|default_if_none:""}}" name="sch_name"/ placeholder="ex)서현중학교">
        </div>
              <br>
          <div class="item">
        고유번호: 
           <input type="text" value="{{obj.sch_code|default_if_none:""}}" name="sch_code"/ placeholder="ex)138-128-7864">
        </div>
              <br>
              <div class="item">
        이메일: 
           <input type="text" value="{{obj.sch_email|default_if_none:""}}" name="sch_email"/ placeholder="ex)seohyun@ice.go.kr">
        </div>
    <br>
          <div class="item">
        주소: 
          <input type="text" value="{{obj.sch_address|default_if_none:""}}" name="sch_address"/ placeholder="ex)인천 부평 서현로">
    </div>
              <div class="item">
        전화번호: 
          <input type="text" value="{{obj.sch_tel|default_if_none:""}}" name="sch_tel"/ placeholder="ex)032-6548-8546">
        </div>
    </div>
<div class="submit2">
          <button type="submit">수정</button>
    </div>
      </form>
    </div>
  </div>
</div>
    
    
 <div id="myModal3" class="modal">
  <!-- Modal content -->
 <div class="modal-content3">
    <span class="close">&times;</span>
   <div class="testbox">
      <form action="/">
        <div class="banner">
          <h1>학교선생 추가</h1>
        </div>
<div class="center">
        <div class="item">
        이름
          <input type="text" name="name"/ placeholder="ex)권서현">
        </div>
              <br>
          <div class="item">
        이메일: 
           <input type="text" name="name"/ placeholder="ex)seohyun@ice.go.kr">
        </div>
              <br>
              <div class="item">
        직급: 
           <input type="text" name="name"/ placeholder="ex)2학년 부장">
        </div>
    <br>
          <div class="item">
        번호1: 
          <input type="text" name="name"/ placeholder="ex)010-8765-6546">
    </div>
              <div class="item">
        번호2: 
          <input type="text" name="name"/ placeholder="ex)032-6548-8546">
        </div>
    </div>
<div class="submit2">
          <button type="submit" href="/">추가</button>
    </div>
      </form>
    </div>
  </div>
</div>
    
<div id="myModal4" class="modal">
  <!-- Modal content -->
 <div class="modal-content4">
    <span class="close">&times;</span>
   <div class="testbox">
      <form action="/">
        <div class="banner">
          <h1>학교선생 편집</h1>
        </div>
<div class="center">
        <div class="item">
        이름
          <input type="text" name="name"/ placeholder="ex)권서현">
        </div>
              <br>
          <div class="item">
        이메일: 
           <input type="text" name="name"/ placeholder="ex)seohyun@ice.go.kr">
        </div>
              <br>
              <div class="item">
        직급: 
           <input type="text" name="name"/ placeholder="ex)2학년 부장">
        </div>
    <br>
          <div class="item">
        번호1: 
          <input type="text" name="name"/ placeholder="ex)010-8765-6546">
    </div>
              <div class="item">
        번호2: 
          <input type="text" name="name"/ placeholder="ex)032-6548-8546">
        </div>
    </div>
<div class="submit2">
          <button type="submit" href="/">추가</button>
    </div>
      </form>
    </div>
  </div>
</div>
    

    <div id="myModal5" class="modal">
  <!-- Modal content -->
 <div class="modal-content5">
    <span class="close">&times;</span>
   <div class="testbox">
      <form action="/">
        <div class="banner">
          <h1>삭제하시겠습니까?</h1>
        </div>
<div class="centeryy">
        <div class="itemy">
        삭제 내용:
        </div>
        <br>
          <div class="itemy">
        이름 / 이메일 / 직급 / 번호1 / 번호2
        </div>
              <br>
    </div>
<div class="submit3">
          <button class="submit33" type="submit" href="/">삭제</button>
    </div>
      </form>
    </div>
  </div>
</div>
    
<script type="text/javascript" src= "https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src= "https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
    
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="https://cdn.datatables.net/keytable/2.5.1/js/dataTables.keyTable.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/searchpanes/1.0.1/js/dataTables.searchPanes.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="datatables.min.js"></script>
<script>

$(document).ready(function (){
    var table = $('#example').DataTable({
        'responsive': true,
         "scrollY":   "500px",
        "scrollCollapse": true,
        "paging":         false,
        "keys": true,
        buttons:[
            'excel'
        ],
        dom: 'Bfrtip',

    });
});
    
var modal2 = document.getElementById('myModal2');

// Get the button that opens the modal
var btn2 = document.getElementById("myBtn2");

// Get the <span> element that closes the modal
var span2 = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn2.onclick = function() {
modal2.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span2.onclick = function() {
modal2.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal2) {
    modal2.style.display = "none";
}
}

var modal3 = document.getElementById('myModal3');

// Get the button that opens the modal
var btn3 = document.getElementById("myBtn3");

// Get the <span> element that closes the modal
var span3 = document.getElementsByClassName("close")[1];

// When the user clicks the button, open the modal 
btn3.onclick = function() {
modal3.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span3.onclick = function() {
modal3.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal3) {
    modal3.style.display = "none";
}
}


var modal4 = document.getElementById('myModal4');

// Get the button that opens the modal
var btn4 = document.getElementById("myBtn4");

// Get the <span> element that closes the modal
var span4 = document.getElementsByClassName("close")[2]

// When the user clicks the button, open the modal 
btn4.onclick = function() {
modal4.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span4.onclick = function() {
modal4.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal4) {
    modal4.style.display = "none";
}
}

var modal5 = document.getElementById('myModal5');

// Get the button that opens the modal
var btn5 = document.getElementById("myBtn5");

// Get the <span> element that closes the modal
var span5 = document.getElementsByClassName("close")[3]

// When the user clicks the button, open the modal 
btn5.onclick = function() {
modal5.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span5.onclick = function() {
modal5.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal5) {
    modal5.style.display = "none";
}
};


</script>
    
     
</body>
</html>
{%endblock%}